.container {
  max-width: 400px;
  margin: 20px auto 50px;
  padding: 24px;

  background: #fff;
  border-radius: 16px;
  border: 2px solid #e5e5e5;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.label {
  font-weight: 600;
  font-size: 16px;
  color: #2c3e50;
}
.select {
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  font-size: 16px;
  background: #fafafa;

  transition: 0.2s;
}
.select:focus {
  border-color: #8e44ad;
  box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.15);
  outline: none;
}
.button {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: white;

  background-color: #8e44ad;
  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #732d92;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}
