.item {
    background: #fff;
    border: 2px solid #dedede;
    border-radius: 12px;
    padding: 16px;

    width: 220px;

    text-align: left;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
}


.item p:first-child {
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
}


.item p:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #8e44ad;
}