.item {
    background: #fff;
    border: 2px solid #dedede;
    border-radius: 12px;
    padding: 16px;

    width: 220px;

    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
}


.item p:first-child {
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
}


.item p:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #8e44ad;
}
.icon {
    width: 40px;
    height: 40px;
    fill: #8e44ad;
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 12px;
}

.icon:hover {
    fill: #732d92;
    transform: translateY(-2px);
}